.box{
    height: 100px;
    width: 100px;
    background-color: pink;
    display: none;
}

.active {
  display: block;
}


.hp{
  height: 20px;
  width: 150px;
  margin: 50px;
  background-color: rgb(154, 240, 128);
}

#heal{
  height: 100px;
  width: 100px;
  background-color: darkseagreen;
}

#enemy_hp{
  height: 20px;
  width: 150px;
  margin: 50px;
  background-color: lightcoral;
}