.box{
    height: 100px;
    width: 100px;
    background-color: pink;
    display: none;
}

.active {
  display: block;
}


.hp{
  height: 20px;
  width: 150px;
  display: block;
  margin: 50px;
  background-color: lightcoral;
}

#heal{
  height: 100px;
  width: 100px;
  background-color: darkseagreen;
}